/* html{
  background-color: lightcoral;
}

.container-fluid{
  background-color: lightcoral;
}
input[type='text']{
background-color: transparent;
color: black;
}
input[type='text']:focus{
  background-color: transparent;
  color: black;
  } */

  html{
    background-color: lightslategray;
  }
  .container-fluid{
    background-color: lightslategrey;
  }
  input[type='text']{
  background-color: transparent;
  color: black;
  }
  input[type='text']:focus{
    background-color: transparent;
    color: black;
    }